/*HTML selectors*/

@media only screen and (min-width: 60em) {

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main section:nth-child(3) {
    grid-column: span 1;
  }

  h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section p {
    font-size: 1.2rem;
  }

  footer img {
    margin: 0;
  }

}
