
@media only screen and (min-width: 32.5em) {

  main {
    grid-template-columns: 1fr 1fr;
  }
  /*
  main section:nth-child(2) {
    display: block;
  }*/

  main section:nth-child(3) {
    grid-column: span 2;
  }

  h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  section p {
    font-size: 1rem;
  }

}
