/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 70rem) {

  #close-weather-alert-button:hover {
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  #logo-box img {
    width: 8rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
  /***********************************************/

  #title-box p {
    font-size: 1.2rem;
  }

  #primary-nav li {
    width: 8rem;
    text-align: center;
  }

  #primary-nav a {
    font-size: 1.3rem;
    padding: .5rem;
  }

  #social-box img {
    width: 2.5rem;
  }

  /***********************************************/

  #index-main-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #hero-box,
  #reservation-one-bed-image-box {
    grid-column: 1 / 4;
    max-height: 38rem; /*616px;*/
  }

  #hero-box h2,
  #reservation-one-bed-image-box h2,
  #services-hero-box h2 {
    font-size: 2.8rem;
    right: 100px
  }

  #hero-box button {
    width: 18rem;
    font-size: 1.8rem;
  }

  #welcome-image-box {
    grid-column: 2 / 4;
  }

  #welcome-text-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #welcome-image-box {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  #temple-image-box {
    grid-column: 1 / 3;
  }

  #temple-text-box {
    grid-column: 3 / 4;
  }

  #join-box p {
    margin-top: 4rem;
  }


  /*--------------------.styling-button--------------------*/

  #hero-box .styling-button:hover,
  #join-box .styling-button:hover,
  #directory-cards button:hover,
  #reservation-form #reservation-submit-btn:hover,
  #contact-form #contact-submit-btn:hover {
    color: var(--secondary-color);
    border-color: var(--accent2-color);
    background-color: var(--primary-color);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.24);
    cursor: pointer;
  }

  /*-----------------------SERVICES.HTML-----------------------------*/
  #serv1,
  #suit1 {
    grid-column: 1 / 2;
  }

  #serv2,
  #suit2 {
    grid-column: 2 / 3;
  }

  #serv3,
  #suit3 {
    grid-column: 3 / 4;
  }

  #serv4,
  #suit4 {
    grid-column: 4 / 5;
  }







  /*-----------------------CONTACT.HTML---------------------*/
  #contact-form {
    max-width: 50%;
  }

  /*--------------------------footer-----------------------*/
  footer p {
    margin: 4rem;
  }

  footer hr {
    display: none;
  }

  footer ul li.links-hover-effect {
    height: 30px;
  }

  #find-us {
    width: 84px;
  }

  #footer-main-box2 .links-hover-effect #open-weather-width {
    width: 400px;
    height: 30px;
  }

  #footer-main-box1 a:hover,
  #footer-main-box2 a:hover {
    border: 1px dotted var(--secondary-color);
    font-size: 1.1rem;
    transition: all ease 300ms;
  }

  #footer-last-line {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #footer-last-line p {
    margin: 0;
  }

}
