/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 54rem) {

  #header-box1 {
    /*width: 90%;*/
    /*margin: 0 auto;*/
    text-align: right;
  }

  #header-box2 {
    justify-content: space-between;
  }

  #logo-box {
    order: 1;
  }

  #title-box {
    order: 2;
  }

  #logo-box img {
    width: 7rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  #title-box p {
    font-size: 1.1rem;
  }

  #social-box {
    display: flex;
    flex-direction: row;
    order: 3;
  }

  /*******************************************************************************************************************/

  nav {
    padding: .5rem;
    order: 0;
    box-shadow: 1px 1px 10px var(--accent2-color);
    /*text-align: right;*/
  }

  nav button
  /*#primary-nav*/ {
    display: none;
  }

  #primary-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
  }

  #primary-nav li {
    width: 6rem;
    text-align: center;
  }

  #primary-nav a {
    border: none;
    font-size: 1.1rem;
  }

  #social-box img {
    width: 2rem;
  }

  /*******************************************************************************************************************/

  #hero-box h2,
  #reservation-one-bed-image-box h2,
  #services-hero-box h2 {
    font-size: 2.6rem;
    top: 50px;
    right: 30px;
  }

  #welcome-text-box,
  #welcome-image-box,
  #temple-text-box,
  #temple-image-box,
  #weather-box,
  #weather-forecast-box,
  #join-box {
    margin-top: 4rem;
  }

  .card img:hover,
  #census img:hover,
  #climate-table img:hover {
    /*transform: rotate(-2deg);*/
    box-shadow: 1px 1px 100px gray;
  }

  /*---------------------DIRECTORY.HTML--------------------*/
  #directory-main .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #directory-main .list section {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
  }

  #directory-main .list h3 {
    margin: 0;
    padding-left: 1rem;
    width: 20%;
    text-align: left;
  }

  #directory-main .list p {
    margin: 0;
    padding-left: 1rem;
    width: 20%;
    text-align: left;
  }

  /*-----------------------RESERVATION.HTML---------------------*/
  #reservation-main h3 {
    font-size: 1.8rem;
  }

  #reservation-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
  }

  #reservation-one-bed-image-box {
    grid-column: 1 / 3;
    overflow: hidden;
  }

  #reservation-intro-box {
    grid-column: 1 / 3;
  }

  #reservation-form {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 1rem 0;
  }

  #reservation-two-beds-image-box {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 3rem;
    max-height: 519px;
    overflow: hidden;
  }

  #reservation-form #reservation-submit-btn {
    grid-column: 1 / 2;
  }





  /*-----------------------SERVICES.HTML--------------------*/

  #services-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  #services-hero-box {
    grid-column: 1 / 5;
    height: 38rem;
  }

  #special-services-box {
    grid-column: 1 / 3;
  }

  #amenities-box {
    grid-column: 3 / 5;
  }

  #reception-box {
    grid-column: 1 / 5;
  }

  #temple-missionary-box {
    grid-column: 1 / 5;
  }

  #reception-images-box,
  #suites-images-box {
    grid-column: 1 / 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #serv1,
  #suit1 {
    grid-column: 1 / 3;
  }

  #serv2,
  #suit2 {
    grid-column: 3 / 5;
  }

  #serv3,
  #suit3 {
    grid-column: 1 / 3;
  }

  #serv4,
  #suit4 {
    grid-column: 3 / 5;
  }














  /*-----------------------CONTACT.HTML--------------------*/
  #contact-main {
    max-width: 75%;
  }

  #contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #contact-image-box {
    grid-column: 1 / 2;
  }

  #contact-info-box {
    grid-column: 2 / 3;
  }

  #contact-board-container {
    grid-column: 1 / 3;
  }

  #contact-director-box img,
  #contact-secretary-box img {
    width: initial;
  }

  #contact-director-box,
  #contact-secretary-box {
    display: flex;
    align-items: center;
  }

  #contact-form {
    max-width: 70%;
    margin: 0 auto;
  }

  .contact-board-of-info {
    padding: 2rem;
  }

  /*******************************************************************************************************************/

  footer {
    margin-top: 4rem;
  }

  footer #footer-main-box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer ul {
    text-align: left;
  }

  #footer-address-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  #footer-address-box h2 {
    font-size: 1.1rem;
  }

  #footer-address-box p {
    margin-top: 0.4rem;
  }

  #footer-first-hr {
    display: none;
  }

  #footer-email-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer-email-box p {
    padding: 0.2rem;
  }

  #footer-main-box2 {
    margin: 3rem;
  }

  #footer-e-mail-address {
    font-size: initial;
  }

}
