/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: white;
  --secondary-color: #3b5998;
  --accent1-color: black;
  --accent2-color: #3b6b98;
  /*--accent3-color: #3b7398;
  --accent4-color: #3b6298;
  --accent5-color: #3b6898;*/
  --accent6-color: #BFBFBF;

  --heading-font: "Noto Serif", Garamond, serif;
  --paragraph-font: "Open Sans", Arial, sans-serif;

  --nav-link-color: #00297A;
}

/*************************************************/

body {
  font-family: var(--paragraph-font);
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--primary-color);
}

/*------------------------header-------------------------*/
header {
  margin: 0 auto;
  width: 90%;
  /*padding-top: 4rem;*/
  /*background-color: var(--secondary-color);*/
}

#weather-alert {
  color: var(--primary-color);
  background-color: var(--accent2-color);
  border: var(--accent2-color) 1px solid;
  text-align: center;
  padding: 1rem;
  display: none;
}

#close-weather-alert-button {
  display: block;
  margin: 1rem auto 0 auto;
  width: 4rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.2rem;
  border-color: var(--primary-color);
  padding: .2rem;
  border-radius: .5rem;
}




#header-box1 {
  color: var(--secondary-color);
  text-align: center;
  margin: 2rem auto;
  /*padding: 1rem;*/
}

#header-box2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*
#logo-title-box {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;
  align-items: center;
  width: 162px;
}*/

#logo-box {
  order: 1;
  box-shadow: 1px 1px 20px var(--accent2-color);
}

#title-box {
  order: 2;
}

#logo-box img {
  width: 5rem;
  height: auto;
}

#title-box {
  display: flex;
  text-align: center;
  order: 1;
  /*flex-direction: column;*/
  /*color: var(--accent1-color);*/
}

#social-box {
  display: flex;
  flex-direction: column;
  order: 3;
}

#social-box a {
  margin: .2rem;
}

#social-box img {
  width: 2.5rem;
  height: auto;
  /*margin: .5rem;*/
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 2rem;
  margin: 0;
  color: var(--secondary-color);
  /*text-shadow: 0 0 10px var(--accent3-color);*/

}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: .5rem;
}

/*-------------------------------------------------------*/

nav {
  /*background-color: var(--secondary-color);*/
  /*text-align: center;*/
  /*order: 2;*/
  margin: 1.5rem auto;
  /*width: 90%;*/
  /*padding: .5rem;*/
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: var(--secondary-color);
  /*color: var(--accent2-color);*/
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul li {
  text-align: center;
  margin: 0 auto;
}

nav ul.open {
  display: block;
}

#primary-nav a {
  display: flex;
  padding: .5rem;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
  /*text-align: center;*/
}

#primary-nav a:hover {
  border: var(--accent2-color) 1px solid;
}

.active {
  border: var(--secondary-color) 1px solid;
}

/*************************************************/
#hamburger-btn span:nth-child(1) {
  display: block;
}

#hamburger-btn span:nth-child(2) {
  display: none;
}

#hamburger-btn.open span:nth-child(1) {
  display: none;
}

#hamburger-btn.open span:nth-child(2) {
  display: block;
}

/*************************************************/

#index-main-grid {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
}

#index-main-grid div,
#services-main-grid div {
  border: 1px solid var(--accent6-color);
  background-color: var(--primary-color);
  box-shadow: 1px 1px 10px var(--accent2-color);
  text-align: center;
}

.div-padding {
  padding: .5rem;
}

#index-main-grid h2 {
  text-align: center;
  margin: 1rem 0;
  padding: .5rem;
}

#index-main-grid h3 {
  margin-top: 1rem;
}
/*
#index-main-grid h3,
#index-main-grid p,
#reservation-main h3,
#reservation-main p,
#reservation-main label,
#contact-main {
  color: var(--secondary-color);
}
*/

#index-main-grid,
#reservation-main,
#services-main-grid,
#contact-main {
  color: var(--secondary-color);
}

#index-main-grid hr {
  width: 90%;
  margin: .5rem auto;
  background-color: var(--accent2-color);
}

#index-main-grid p {
  padding: .8rem;
}

#index-main-grid p,
#index-main-grid span {
  font-size: 1.1rem;
}

/*-----------------------#hero-box-----------------------*/
#hero-box,
#services-hero-box {
  padding: inherit;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#hero-box img,
#welcome-image-box img,
#temple-image-box img,
#reservation-main img,
#services-hero-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation-name: slowSize;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

@keyframes slowSize {
  0%   {transform: scale(1,1);}
  50%  {transform: scale(2,2);}
  100% {transform: scale(1,1);}
}

#hero-box h2,
#reservation-one-bed-image-box h2,
#services-hero-box h2 {
  position: absolute;
  font-size: 1.6rem;
  top: 20px;
  right: 10px;
  color: var(--primary-color);
  background-color: transparent;
  text-shadow: 0 0 10px black;
  z-index: 1;
}

#hero-box button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 12rem;
  padding: .5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: var(--accent2-color);
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
}

/*----------------------#welcome-box-----------------------*/

#welcome-text-box,
#temple-image-box,
#weather-divs-container,
#weather-box,
#weather-forecast-box,
#join-box,
#special-services-box,
#amenities-box,
#reception-box,
#temple-missionary-box,
#reception-images-box,
#suites-images-box {
  margin-top: 2rem;
}

#welcome-text-box,
#temple-text-box,
#weather-divs-container,
#weather-box,
#weather-forecast-box,
#join-box {
  padding: .5rem;
}


#welcome-text-box div,
#temple-text-box div {
  margin-top: 1rem;
}

#welcome-image-box,
#temple-image-box {
  padding: inherit;
  overflow: hidden;
}

/*----------------------#temple-box-----------------------*/

#temple-image-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*----------------------#weather-box---------------------*/

#weather-box div {
  border: unset;
  box-shadow: unset;
  padding: .2rem;
}

#weather-box img {
  width: 96px;
  height: auto;
}

#weather-box #weather-comment {
  text-align: right;
  padding-right: 2rem;
}

#weather-box span {
  font-weight: bold;
}

.wind-speed-box1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wind-speed-box2 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 14rem;
  margin: 0 auto;
}

.wind-speed-box2 .wind-p1 {
  width: 7.5rem;
  text-align: left;
}

.wind-speed-box2 span {
  width: 3rem;
  text-align: left;
}

#temperature-unit #temperature,
#temperature-unit p {
  font-size: 2rem;
}

#weather-forecast div {
  padding: .5rem;
}

/*------------------------#join-box----------------------*/

#join-box button,
#directory-cards button {
  width: 15rem;
  margin: 2rem auto;
  padding: .5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: var(--accent2-color);
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
}

/*--------------------.styling-button--------------------*/
#hero-box .styling-button:active,
#join-box .styling-button:active,
#join-submit-btn:active,
#contact-submit-btn:active,
#directory-cards button:active {
  color: var(--accent2-color);
  transform: translateY(.2rem);
}

#images-column .card {
  max-width: 400px;
  margin: 1rem auto;
  background-color: white;
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

/*--------------------lazy-load-effect-------------------*/
/*We render the images with a blur at the beginning, so a transition to the sharp one can be achieved:*/
#images-column .card img[data-src] {
  filter: blur(0.3em);
}

.card img {
  display: block;
  max-width: 100%;
  padding: .5rem;
  filter: blur(0em);
  transition: filter 1s;
  /*This will remove the blur effect within a second, which looks good enough for the "loading" effect.*/
}

#images-column h3 {
  text-align: center;
}

#images-column p {
  text-align: center;
  padding: .2rem;
}

#statistics #first-div #main-title {
  padding: .5rem;
  font-size: 2rem;
  text-align: center;
}

#statistics #first-div p {
  padding: 1rem;
  text-align: center;
}

#statistics h2 {
  padding: 1rem;
}

#statistics h3 {
  margin: 0 0 0 1.5rem;
  padding: .2rem;
}

#statistics .statistics-paragraph p,
#statistics .statistics-paragraph span {
  margin-left: 2rem;
  padding: .2rem;
}

#climate-table img {
  width: 100%;
}

#census {
  margin: 0 auto;
  padding: 1rem;
}

#census h2 {
  padding: 1rem;
  text-align: center;
}

#census img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/*---------------------TEMPLES.HTML--------------------*/

#directory-main {
  width:90%;
  margin: 0 auto;
}

#directory-main h2 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

#directory-main h3 {
  margin-top: 1rem;
  padding: .2rem;
  font-size: 1.4rem;
}

#directory-main > p {
  text-align: center;
}

#directory-main p {
  margin: 1rem 0;
  padding: .2rem;
}

#directory-cards {
  display: grid;
  margin: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  text-align: center;
}

#directory-main section {
  width: 300px;/*Necessary to have all the sections from the same size*/
  margin: .5rem auto;
  padding: .5rem;
  box-shadow: 1px 1px 10px var(--accent2-color);
  border-radius: 1rem;
}

#directory-cards img,
#index-main-grid #spots-box div img {
  width: 200px;
  height: auto;
  margin-top: 2rem;
  border: 1px solid var(--accent6-color);
}



/*------------------------RESERVATION.HTML----------------------*/
#reservation-main {
  max-width: 90%;
  margin: 0 auto;
}


#reservation-main h2,
#reservation-main h3 {
  text-align: center;
  margin-top: 2rem;
  padding: .5rem;
}

#reservation-main h2 {
  font-size: 1.8rem;
}

#reservation-main h3 {
  font-size: 1.4rem;
}

#reservation-main p {
  font-size: 1.1rem;
  text-align: center;
  padding: .5rem;
}

#reservation-one-bed-image-box {
  position: relative;
}

#reservation-one-bed-image-box,
#reservation-two-beds-image-box {
  overflow: hidden;
}

#reservation-one-bed-image-box img,
#reservation-two-beds-image-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*--------------------------form-------------------------*/

#reservation-form,
#contact-form {
  margin: 2rem 0;
}

#reservation-form fieldset,
#contact-form fieldset {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid var(--accent6-color);
  box-shadow: 1px 1px 10px var(--accent2-color);
}

#reservation-one-bed-image-box {
  margin: 1.65rem auto 1rem auto;
}

.contact-board-of-info {
  /*padding: .5rem;*/
  border: 2px solid var(--accent2-color);
}

#reservation-form legend,
#contact-form legend {
  color: var(--nav-link-color);
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 1.2rem;
}

#reservation-form label {
  display: block;
}

#accommodation-information-label {
  margin-bottom: 2rem;
}

#reservation-form label.top input,
#contact-form label.top input,
#temple-location-select {
  display: block;
  width: 100%;
  margin-top: .1rem;
  margin-bottom: 2rem;
  padding: .5rem;
  font-size: 1.1rem;
  color: #555;
  border: 1px solid var(--accent1-color);
}

#reservation-form label.top input:required,
#contact-form label.top input:required {
  border-left: .5rem solid var(--secondary-color);
}

#reservation-form label.top input:required:valid,
#contact-form label.top input:required:valid {
  border: 1px solid var(--accent1-color);
}

#reservation-form .label-textarea,
#contact-form .label-textarea {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#reservation-form #description-text-area,
#contact-form #description-text-area {
  height: 12rem;
  margin-top: .1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  resize: none;
}

#reservation-form #type-of-rooms-label {
  margin-bottom: 1rem;
}

#reservation-form label.choices,
#contact-form label.choices {
  display: block;
  max-width: 26rem;
  padding: .4rem;
  color: #555;
}


/*----------------------form's buttons---------------------*/
#reservation-form #reservation-submit-btn,
#contact-form #contact-submit-btn {
  display: block;
  border: none;
  padding: .5rem 1.5rem;
  margin: 2rem auto;
  font-size: 1.4rem;
  background-color: var(--accent2-color);
  color: var(--primary-color);
  border-radius: 2rem;
}




/*-----------------------SERVICES.HTML--------------------*/

#services-main-grid {
  width: 90%;
  margin: 1rem auto;
}

#services-main-grid div {
  text-align: unset;
}


#special-services-box,
#amenities-box,
#reception-box,
#temple-missionary-box {
  padding: 1rem;
}

#services-main-grid h2,
#services-main-grid p {
  padding: 1rem;
}

#services-main-grid li {
  margin-left: 2.5rem;
  padding: .5rem;
}

/*
# {
  display: grid;
  margin: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  text-align: center;
}
*/

#reception-images-box,
#suites-images-box {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

#reception-images-box img,
#suites-images-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}










































/*-----------------------CONTACT.HTML--------------------*/
#contact-main {
  max-width: 90%;
  margin: 0 auto;
}

#contact-main h2, #contact-main h3 {
  text-align: center;
  margin-top: 2rem;
  padding: .5rem;
}

#contact-main h2 {
  font-size: 1.8rem;
}

#contact-main #board-title {
  margin-top: 0;
}

#contact-main h3 {
  font-size: 1.6rem;
}

#contact-main h4 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

#contact-main p {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
}

.contact-info-container {
  width: 90%;
  margin: 2rem auto;
}

#contact-main .contact-info-container p {
  font-size: 1.1rem;
  padding: .5rem;
}

#contact-grid {
  margin: 2rem auto;
}

#contact-image-box img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#contact-image-box,
#contact-info-box {
  box-shadow: 1px 1px 10px var(--accent2-color);
}

#contact-grid {
  display: flex;
  flex-direction: column;
}

#contact-director-box img,
#contact-secretary-box img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
/*----------------------THANK-YOU.HTML-------------------*/
#thank-you-main {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

#thank-you-main h2 {
  margin-top: 2rem;
}

#thank-you-main p {
  padding: 1rem;
}

#thank-you-main img {
  width: 100%;
  margin: 1rem auto;
  border: 2px solid black;
}
/*-------------------------footer------------------------*/
footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  color: var(--secondary-color);
  box-shadow: 1px 1px 10px var(--accent2-color);
}

footer ul li {
  list-style: none;
  padding-top: .5rem;
}

footer p {
  margin: 1rem;
}

footer hr {
  margin: 1rem 0;
}

#footer-e-mail-address {
  font-size: .8rem;
}

#footer-main-box1 a,
#footer-main-box2 a {
  text-decoration-line: none;
}

#footer-main-box1 a:link,
#footer-main-box1 a:visited,
#footer-main-box2 a:link,
#footer-main-box2 a:visited,
#temple-missionary-box a:link,
#temple-missionary-box a:visited {
  color: #0000EE;
}
