
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Arial", serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  padding: 2rem;
  /*background-color: lightgray;*/
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  background-color: #B3DEB6;
  margin: 0 auto;
  padding: 2rem;
}

picture {
  margin: 2rem;
}

/*We render the images with a blur at the beginning, so a transition to the sharp one can be achieved:*/
img[data-src] {
  filter: blur(0.3em);
}

img {
  background: #B3DEB6;
  display: block;
  margin: 0 auto;
  padding: 2rem;
  filter: blur(0em);
  transition: filter 2s;
  /*This will remove the blur effect within half a second, which looks good enough for the "loading" effect.*/
}

footer {
  text-align: center;
  background-color: #B3DEB6;
  font-size: 1.2rem;
  padding: 2rem;
}