/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

  nav ul li {
    width: 10rem;
    text-align: center;
  }



  nav ul li a {
    font-size: 1.1rem;
    padding: .5rem 1rem;


  }

}
