/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 51rem) {

  #header-box1 {
    justify-content: space-evenly;
  }

  #logo-box img {
    width: 7rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  #title-box p {
    font-size: 1.1rem;
  }
  /*******************************************************************************************************************/

  nav {
    padding: .5rem;
    order: 0;
  }

  nav button, #secondary-nav {
    display: none;
  }

  #primary-nav {
    display: flex;
    justify-content: center;
  }

  #primary-nav li {
    width: 6rem;
    text-align: center;
  }

  #primary-nav a {
    border: none;
    font-size: 1.1rem;
  }

  #social-box img {
    width: 1.5rem;
  }
  /*******************************************************************************************************************/

  main {
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 300px 300px 300px 300px 300px;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
  }

  .event-box {
    grid-column: span 2;
    grid-row: 5 / 6;
  }

  .weather-box {
    grid-column: span 1;
    grid-row: 5 / 6;
  }

  .join-box {
    display: unset;
    grid-column: span 3;
    grid-row: 4 / 5;
  }

  .hero-box {
    grid-column: span 3;
    grid-row: 1 / 2;
  }

  .news-box {
    grid-column: span 3;
    grid-row: 2 / 3;
  }

  .spots-box {
    grid-column: span 3;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr;
  }

  .spot1 {
    grid-column: 1 / 2;
    grid-row: unset;
  }

  .spot2 {
    grid-column: 2 / 3;
    grid-row: unset;
  }

  /*******************************************************************************************************************/

  footer {
    display: flex;
    flex-direction: column;
  }

  footer img {
    width: 7rem;
  }

  #footer-main-box1 {
    display: flex;
    justify-content: space-around;
  }

  #footer-logo-address-box {
    display: flex;
  }

  #footer-address-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  #footer-address-box h2, p {
    margin: 0;
  }

  #footer-address-box h2 {
    font-size: 1.1rem;
  }

  #footer-address-box p {
    margin-top: 0.4rem;
  }

  #footer-first-hr {
    display: none;
  }

  #footer-email-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer-email-box p {
    padding: 0.2rem;
  }

  #footer-main-box2 {
    margin: 3rem;
  }

}
