/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 51rem) {

  #logo-box img {
    width: 7rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #title-box p {
    margin-top: 0.5rem;
    /*padding-top: 0;*/
    /*color: var(--accent1-color);*/
    font-weight: 700;
    font-size: 1.2rem;
  }

  nav {
    padding: .5rem;
  }

  nav button {
    display: none;
  }

  #primary-nav {
    display: flex;
    justify-content: center;
  }

  #primary-nav li {
    width: 6rem;
    text-align: center;
  }

  #primary-nav a {
    border: none;
    font-size: 1.1rem;
    /*border-right: 1px solid rgba(0,0,0,0.3);*/
  }

  #social-box img {
    width: 1.5rem;
  }

/***********************************************************/


  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  main p {
    /*font-size: 1.1rem;*/
  }

/************************************************************/



  main {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 5px;
    justify-content: center;
  }

  main div {
    background-color: #BFBFBF;
  }

  .main-box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .main-box2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

  }

  .main-box3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .main-box4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  .main-box5 {
    grid-column: 5 / 6;
    grid-row: 3;
  }

  .main-box6 {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
  }

  .main-box6 div {
    /*background-color: #FFD700;*/
    margin: 10px;
    height: 305px;
    border: 1px solid rgba(0,0,0,0.3);
  }

  footer img {
    width: 7rem;
  }



}
