/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 54rem) {

  #logo-box img {
    width: 7rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  #title-box p {
    font-size: 1.1rem;
  }
  /*******************************************************************************************************************/

  nav {
    padding: .5rem;
    order: 0;
  }

  nav button,
  #secondary-nav {
    display: none;
  }

  #primary-nav {
    display: flex;
    justify-content: center;
  }

  #primary-nav li {
    width: 6rem;
    text-align: center;
  }

  #primary-nav a {
    border: none;
    font-size: 1.1rem;
  }

  #social-box img {
    width: 1.5rem;
  }
  /*******************************************************************************************************************/

  #index-main-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #hero-box {
    grid-column: span 3;
    grid-row: 1 / 2;
  }

  #hero-box h2 {
    font-size: 2rem;
    top: 50px;
    left: 40px;
  }

  /*********************************************************/

  #event-box {
    grid-column: span 2;
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #weather-box {
    grid-column: span 1;
    grid-row: 5 / 6;
  }
/*************************************************/
  #join-box {
    display: unset;
    grid-column: span 3;
    grid-row: 4 / 5;
  }

/*************************************************/
  #news-box {
    grid-column: span 3;
    grid-row: 2 / 3;
  }

  #spots-box {
    grid-column: span 3;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr;
  }

  #spot1 {
    grid-column: 1 / 2;
    grid-row: unset;
  }

  #spot2 {
    grid-column: 2 / 3;
    grid-row: unset;
  }

/*--------------------DISCOVER.HTML--------------------*/
  #discover-main-grid {
    grid-template-columns: 1fr 2fr;
  }

 #discover-main-grid p {
    font-size: 1.1rem;
  }

  #statistics #first-div p {
    text-align: left;
  }

  .card:hover,
  #census:hover,
  #climate-table:hover {
    transform: rotate(-2deg);
  }

  /*----------- FORM --------------*/

  #membership-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }


  /*******************************************************************************************************************/

  footer {
    display: flex;
    flex-direction: column;
  }

  footer img {
    width: 7rem;
  }

  #footer-main-box1 {
    display: flex;
    justify-content: space-around;
  }

  #footer-logo-address-box {
    display: flex;
  }

  #footer-address-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  #footer-address-box h2 {
    font-size: 1.1rem;
  }

  #footer-address-box p {
    margin-top: 0.4rem;
  }

  #footer-first-hr {
    display: none;
  }

  #footer-email-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer-email-box p {
    padding: 0.2rem;
  }

  #footer-main-box2 {
    margin: 3rem;
  }

}
