/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
  /* change the values below to your colors from your palette */
  --primary-color: white;
  --secondary-color: black;
  --accent1-color: #BFBFBF;
  --accent2-color: #FFD700;

  --heading-font: "Merriweather", Garamond, serif;
  --paragraph-font: "Poppins", Arial, sans-serif;

  --nav-link-color: #00297A;
  --nav-hover-link-color: white;
}

body {
  font-family: var(--paragraph-font);
  margin: 0 auto;
  font-size: 16px;
}

header {
  background-color: var(--secondary-color);
  /*display: flex;
  /*flex-direction: row;*/
  /*justify-content: space-between;
  align-items: center;*/
  margin: 0 auto;
  padding-top: 2rem;
}

#header-one-box {
  /*background-color: var(--secondary-color);*/
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#logo-title-box {
  display: flex;
  align-items: center;
  /*margin-left: 1rem*/;
}

#logo-box img {
  width: 8rem;
  height: auto;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
}

#title-box {
  display: flex;
  flex-direction: column;
  /*margin-left: .5rem;*/
  color: var(--accent1-color);
}

#title-box h1 {
  /*color: var(--accent1-color);*/
  font-size: 1.8rem;
  margin: 0;
  /*text-align: center;*/
}

#title-box p {
  letter-spacing: 1pt;
  margin-top: 0.5rem;
  /*padding-top: 0;*/
  /*color: var(--accent1-color);*/
  font-weight: 700;
  font-size: 1rem;
}

#social-box img {
  width: 2.4rem;
  height: auto;
  margin-right: 1rem;
}

#header-two-box {
  color: var(--accent1-color);
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 0.2rem;
  padding: 1rem;
}

h1, h2 {
  font-family: var(--heading-font);
}

/*********************************************************************************************************************/

nav {
  background-color: var(--accent1-color);
  text-align: center;
}

nav button {
  /*margin: .2rem 2vw;*/
  background-color: transparent;
  border: none;
  /*display: block;*/
  font-size: 2rem;
  color: #555;
}
/*
#hamburger-btn span {
  display: block;
}*/

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: var(--nav-link-color);
  text-align: center;
  /*border-top: 1px solid rgba(0,0,0,0.5);*/
}

/*nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}*/

nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}

#hamburger-btn span:nth-child(1) {
  display: block;
}

#hamburger-btn span:nth-child(2) {
  display: none;
}

#hamburger-btn.open span:nth-child(1) {
  display: none;
}

#hamburger-btn.open span:nth-child(2) {
  display: block;
}


footer {
  background-color: var(--secondary-color);
  /*font-size: 1rem;*/
  color: var(--accent1-color);
  text-align: center;
  padding: 4rem;
}

footer img {
  width: 8rem;
  height: auto;
}

