/*HTML Selectors*/

:root {
  /* change the values below to your colors from your palette */
  --primary-color: white;
  --secondary-color: black;
  --accent1-color: #BFBFBF;
  --accent2-color: #FFD700;

  --heading-font: "Merriweather", Garamond, serif;
  --paragraph-font: Poppins, Arial, sans-serif;

  --nav-link-color: #00297A;
  --nav-hover-link-color: white;
}

html {
  background-color: var(--primary-color);
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: var(--primary-color);
  /*padding: 1em;*/
  font-size: 18px;
}

img {
  max-width: 20%;
}

h1, h2, h3 {
  font-family: var(--heading-font);
  margin-left: 0.5rem;
}

header {
  padding: 1em;
  text-align: center;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
}

p {
  font-family: var(--paragraph-font);
  margin-left: 0.5rem;
  padding: 0.3em;
}

#returning-instruction {
  font-size: 1rem;
}

table {
  /*max-width: 100%;
  min-width: 20%;*/
  margin: auto;
  text-align: center;
}

table th {
  background-color: #999;
}

table td{
  /*max-width: 100%;*/
  height: 2em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2{
  background-color: var(--accent2-color);
}

nav {
  background-color: var(--accent1-color);
  line-height: 1em;
  text-align: center;
  font-size: 1.4em;
  display: flex;
  flex-direction: row;
}

nav div {
  flex: 1 1 auto;
}

nav a {
  display: block;
  padding:1em;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--accent2-color);
  background-color: var(--secondary-color);
}

footer {
  margin: 2rem auto;
  padding: 1rem;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 1.2rem;
}

footer p {
  margin: 0.5rem;
  font-size: 1.2rem;
}

@media (max-width: 40em) {
  nav {
    flex-direction: column;
  }
/*
  table {
    width: 20%;
  }
*/
}