/*HTML Selectors*/

:root {
  /* change the values below to your colors from your palette */
  --primary-color: white;
  --secondary-color: #B3DEB6;
  --accent1-color: black;
  --accent2-color: #3E2F28;

  --heading-font: "Merriweather", Garamond, serif;
  --paragraph-font: "Poppins", Arial, sans-serif;

  --nav-link-color: #00297A;
  /*--nav-hover-link-color: white;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
}

body {
  font-family: var(--paragraph-font);
  max-width: 90%;
  margin: 0 auto;
  font-size: 16px;
}

header {
  margin-top: 3rem;
  padding: .5em;
  text-align: center;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
  border: 1px solid gray;
}

#returning-instruction {
  font-size: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-color);
  border: 1px solid gray;
}

nav div {
  flex: 1 1 auto;
}

nav a {
  display: block;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--secondary-color);
  background-color: var(--accent2-color);
}

h1, h2, h3 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--secondary-color);
}

h3 {
  font-size: .9rem;
  text-align: center;
  margin-top: 2.5rem;
  /*border-bottom: var(--secondary-color) solid;*/
  text-decoration: underline;
}

p {
  font-family: var(--paragraph-font);
  text-align: center;
  padding: 0.6rem;
}

img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

ul {
  margin: 2rem;
  padding-left: 1rem;
}

.colors div {
  margin: 0 auto;
  width: 6rem;
  height: 2rem;
  border-style: solid;
}

.primary {
  background-color: white;
}

.secondary {
  background-color: black;
}

.accent1 {
  background-color: #BFBFBF;
}

.accent2 {
  background-color: #FFD700;
}

.accent1 p, .accent2 p {
  margin: 0 auto;
  padding: 0.3rem;
}

footer {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid gray;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 1.2rem;
}

footer img {
  width: 2.5rem;
  border-radius: 1.5rem;
  margin: 0.5rem;
  float: left;
}

footer img:hover {
  width: 2.7rem;
}

footer p {
  margin: 0.5rem;
  font-size: 1rem;
}
