
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Arial", serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  background-color: #B3DEB6;
  margin: 0 auto;
  padding: 2rem;
}

div {
  margin: 0 auto;
}

/*We render the images with a blur at the beginning, so a transition to the sharp one can be achieved:*/
img[data-src] {
  filter: blur(0.3em);
}

img {
  display: block;
  width: 60%;
  padding: 1rem;
  margin: 2rem auto;
  

  background: #B3DEB6;
  filter: blur(0em);
  transition: filter 1s;
  /*This will remove the blur effect within half a second, which looks good enough for the "loading" effect.*/
}

footer {
  text-align: center;
  background-color: #B3DEB6;
  font-size: 1.2rem;
  padding: 2rem;
}

@media only screen and (min-width: 32rem) {
  img {
    width: initial;
    padding: 2rem;
  }
}
